.container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

